.fileColumn {
  background: #1E1E1E;
  color: #D4D4D4;
  font-size: 0.70em;
  border-right: 1px solid #424242;
}


.fileColumn h2 {
  color: #D4D4D4;
  font-size: 12px;
}

.fileColumn h3 {
  color: #D4D4D4;
}

.fileColumn ul {
  list-style: none;
}

.fileColumn li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.fileColumn li svg {
  margin-right: 10px;
  color: yellow;
}

.fileColumn .html-icon{
  fill: #E34F26;
}

.fileColumn li a {
  text-decoration: none;
  color: #D4D4D4;
}

.fileColumn li.selected {
  background-color: #424242;
}
