.homePage {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    overflow: hidden;
  }
  
  
  .syntaxHighlighter {
    max-width: 100%;
  }
  
  @media (max-width: 600px) {
    .syntaxHighlighter {
      font-size: 14px; /* Adjust the font size for mobile */
    }
  }
  