.leftColumn {
    background-color: #1E1E1E;
    color: white;
    display: flex;
    flex-direction: column;

    border-right: 1px solid #424242;
}

.icon {
    font-size: 32px;
    margin-bottom: 25px;
    color: #BBBBBB;
    margin-top: 20px; /* Adjust this to create space */
}
