.noFilesOpen {
  padding-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fileLogoRow,
.githubLogoRow,
.linkedinLogoRow,
.emailLogoRow {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.fileLogo,
.githubLogo,
.linkedinLogo,
.emailLogo {
  font-size: 2rem;
  margin-right: 0.5rem;
  color: #d4d4d4;
  opacity: 0.3;
}

.fileText,
.githubText,
.linkedinText,
.emailText {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d4d4d4;
  opacity: 0.3;
}

.logoDiv {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  margin-bottom: 100px;
}

@media (max-width: 600px) {
  .noFilesOpen {
    font-size: 20px;
    padding-top: 40px;
    padding-left: 150px;
  }
}
