.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project {
    background-color: #333333;
    border-radius: 5px;
    width: 100%;
}

.project h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.project a {
    color: #333;
    text-decoration: none;
    width: 100%;
    text-align: left;
}

.project a:hover {
    text-decoration: underline;
}

.project p {
    margin: 0;
    color: #666;
}

.link {
    width: 100%;
    text-align: left;
    display: inline-block;
}
