.secondaryHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #1E1E1E;
  color: white;
  height: 40px;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-size: 14px;
  overflow: hidden;
  width: 100%;
}

.smallheadericon {
  margin-right: 10px;
  height:15px;
  width:15px;
  color: yellow;
  flex-shrink: 0;
}

.smallheadericon2 {
  margin-right: 10px;
  height:15px;
  width:15px;
  color: #E34F26;
  flex-shrink: 0;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Adjust as needed */
  width: 100%;
  padding: 5px 10px; /* Add some padding around the tab content */
  transition: background-color 0.3s ease; /* Add transition for smooth background color change */
}

.closeIcon {
  cursor: pointer; /* This makes it clear that the icon is clickable */
  margin-left: auto; /* Push the close icon to the right end of the tab */
}

.title {
  padding-right: 10px; /* Space between text and line */
}

.line {
  width: 1px;
  height: 100%; /* Now line will go full height of the secondaryHeader */
  background-color: #424242; /* adjust as needed */
  margin-left: 10px; /* Space between text and line */
}

.tab {
  display: flex;
  align-items: center; /* This aligns the content and divider vertically */
  border-right: 1px solid grey; /* Add right border to each tab */
  height: 100%;
}

.activeTab {
  background-color: #333333; /* Adjust to the color you prefer */
  color: white; /* Adjust to the color you prefer */
  box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Adds a subtle shadow */
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .secondaryHeader {
    flex-direction: row;
    align-items: center;
    height: 40px;
    overflow-x: auto; /* Scrollbar on x-axis for mobile devices */
    scrollbar-width: thin; /* Optional: make the scrollbar thin */
    scrollbar-color: #888 #f5f5f5; /* Optional: color the scrollbar */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
  }
  .secondaryHeader::-webkit-scrollbar {
    height: 8px; /* Required for Webkit browsers */
  }
  .secondaryHeader::-webkit-scrollbar-track {
    background: #f5f5f5; /* Required for Webkit browsers */
  }
  .secondaryHeader::-webkit-scrollbar-thumb {
    background-color: #888; /* Required for Webkit browsers */
  }
}
